<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ycy.ccyy.yueyavillage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".YcyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".mvp.view.activity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101557229" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ChooseHeadFrameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".mvp.view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MyWorksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MyWorkDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MyCollectionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.PublishPromiseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mvp.view.activity.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ImageSelectorActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>